# This file was generated automatically from conda-smithy. To update this configuration,
# update the conda-forge.yml and/or the recipe/meta.yaml.

language: generic

os: osx

env:
  matrix:
    
    - CONDA_NPY=111  CONDA_PY=27
    - CONDA_NPY=111  CONDA_PY=34
    - CONDA_NPY=111  CONDA_PY=35
  global:
    # The BINSTAR_TOKEN secure variable. This is defined canonically in conda-forge.yml.
    - secure: "e7q3YO1EqC8H+r6P4zfX+qHo9BoWkTj5NWmdy/Qt2IqGcj1lX+StqJ3gtkokvzzhKNfIEnqSTU5J6YnzFolUzEWXOvTGvxYtUNB0c2FkqA5fmeYjFiJgROvAM3zwdBdn3i5iweTdt46JR/99SqD6Z6qv2swaNyyzreKpWg4DW8cC04vCtLJW84+nZ/TJwZ8JTnNpFpmUPZzKM4JaFjeR7eJcak+e7CoGgrER26pGC7qXCviSxw10But7/lYv8DWrnG5SIkrUpaA5i83NwZEbSbd+4FeSs5dxDwWCiKB7bLWCrmVkUwhPfj+6iGNMOTyW2GLxzzCYyWo5Hy7Z5bTjfJC+qjhQR20If1pPhyVvunzTK+zGxH4Wd4W0KLce02TmU/22JP6WmuzAOfymhREMvFqi6CgOMRvXAvxyBGbkFSaGW3BNE4bXxr02jeLuBq5kMRQSt1kjXschvjonFsdB7Fuvx3G78aQj9EW7bYSokdJzFBfGe4ur4D1vCoNrBr4Yf1Fk2uOy6hg/rrgznHxsMRn99wPh7V1Zp1iWUQOUaBg8Rurpwm9Nm3sjeAmteEJDDPH+D5DP9PYAq5NUVOW0lxvQQR9KBIxRWPcmryJW7r6ZxCeIfgnMzpGd29O0gSuCZZ+Wm7+jABeas4Anhg5bahAdaY8PyJbnoNYsPtMcrZM="


before_install:
    # Remove homebrew.
    - brew remove --force $(brew list)
    - brew cleanup -s
    - rm -rf $(brew --cache)

install:
    - |
      MINICONDA_URL="http://repo.continuum.io/miniconda"
      MINICONDA_FILE="Miniconda3-latest-MacOSX-x86_64.sh"
      curl -O "${MINICONDA_URL}/${MINICONDA_FILE}"
      bash $MINICONDA_FILE -b

      source /Users/travis/miniconda3/bin/activate root
      conda config --add channels conda-forge
      conda config --set show_channel_urls true
      conda install --yes --quiet conda-forge-build-setup
      source run_conda_forge_build_setup

script:
  - conda build ./recipe

  - upload_or_check_non_existence ./recipe conda-forge --channel=main
